<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="chat" id="app">
		<div class="chat__sidebar">
			<h3>Participants</h3>
			<div id="users">
				<ol>
					<li v-for="user in users">
						<!--Can't implement v-bind: class -->
						<span 
							v-on:click="toggleChat(user)"
							:class="{ isActive: user.haveNewMessage }">
							<pre 
								class="online-status "
								:class="{isActive: user.status}">
							</pre>
							{{ user.name }}
						</span>
					</li>
				</ol>
			</div>
		</div>

		<div class="chat__main">
			<ol class="chat__messages">
				<li class="message" v-for="message in currentMessages">
					<div class="message__title">
						<h4>{{ message.from }}</h4>
						<span>{{ message.createdAt }}</span>
					</div>
					<div class="message__body">
						<p>{{ message.text }}</p>
					</div>
				</li>
			</ol>

			<div class="chat__footer">
				<form id="message-form" v-on:submit="sendMessage">
					<input v-model="input" type="text" name="message" placeholder="Your message..." autofocus autocomplete="off">
					<button>Send</button>
				</form>
			</div>
		</div>
	</div>
</body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/deparam.js"></script>
  <script src="./main.bundle.js"></script>
</body>
</html>